

.CalculationFormula {
  padding-bottom: 8px;


}
.CalculationFormula strong {
  font-size: 14px;
  padding-left: 24px;
}
.CalculationFormula .redcolor {
 color: rgb(240, 5, 5);
 padding: 0 4px;
}
.fulltable_div{
  min-height: inherit;
  display: flex;
  flex-direction: column;
}
.FlexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.FlexCenterColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FlexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FlexBetweenColumn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.FlexStart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.FlexColumn{
  display: flex;
  flex-direction: column;
}
.FlexEnd{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.FlexStartColumn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.FlexEndColumn{
  display: flex;
}
.FlexSpaceAround{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 单行文本省略号 */
.truncate {
  white-space: nowrap;         /* 防止文本换行 */
  overflow: hidden;            /* 隐藏超出容器的文本 */
  text-overflow: ellipsis;     /* 使用省略号表示超出文本 */
              /* 可选：添加内边距 */
}

/* loading */
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}