.HoverTooltipCopy:not(.NoTooltip) {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;

}

.HoverTooltipCopy:not(.NoTooltip)::after {
  content: '双击复制文本';
  position: absolute;
  top: 100%; /* 控制提示框位置 */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  font-size: 12px;
  transition: opacity 0.3s;
  pointer-events: none; /* 防止悬停时鼠标与提示框的交互 */
}

.HoverTooltipCopy:not(.NoTooltip)::before {
  content: '';
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.HoverTooltipCopy:not(.NoTooltip):hover::after,
.HoverTooltipCopy:not(.NoTooltip):hover::before {
  opacity: 0.6;
  visibility: visible;
  transform: all 0.3s;
  transition-delay: 0.8s; /* 延迟0.5秒触发 */
  z-index: 9;
}

/* 提示悬浮窗需定义文本和时间 */
.HoverTooltip {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;

}

.HoverTooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 155%; /* 控制提示框位置 */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  font-size: 12px;
  transition: opacity 0.3s;
  pointer-events: none; /* 防止悬停时鼠标与提示框的交互 */
}

.HoverTooltip::before {
  content: '';
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.HoverTooltip:hover::after,
.HoverTooltip:hover::before {
  opacity: 0.9;
  z-index: 9;
  visibility: visible;
  transform: all 0.3s;
  transition-delay:  0.4s; /* 延迟0.5秒触发 */
}
