@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  src: url("/Resources/fonts/UqyJK8kPP3hjw6ANTdfRk9YSN98zTKUbcw.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  src: url("/Resources/fonts/UqyJK8kPP3hjw6ANTdfRk9YSN985TKUbcw.woff2") format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  src: url("/Resources/fonts/UqyJK8kPP3hjw6ANTdfRk9YSN983TKU.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.loading_div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Rubik Mono One', sans-serif !important;
  background: #fff;
}
.loading_div *{
  font-family: 'Rubik Mono One', sans-serif !important;
}


.loading_div svg {
  /* width: 100%;
  height: 100%;*/
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.loading_div .input {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  font-size: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-family: helvetica, sans-serif;
  bottom: 20px;
  background: none;
  border: 1px solid #ddd;
  color: #eee;
}

.loading_div .text {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  margin: 0;
}
.loading_div .offscreen-text {
  width: 100%;
  /* top: 50%; */
  transform: translateY(-50%);
  display: block;
  position: absolute;
  margin: 0;
}

.loading_div .offscreen-text {
  text-align: center;
  top: -9999px;
}

.loading_div .text span {
  position: absolute;
}


#loader-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Rubik Mono One', sans-serif !important;
  background: #fff;
}
#loader-wrapper *{
  font-family: 'Rubik Mono One', sans-serif !important;
}


#loader-wrapper svg {
  /* width: 100%;
  height: 100%;*/
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#loader-wrapper .input {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  font-size: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-family: helvetica, sans-serif;
  bottom: 20px;
  background: none;
  border: 1px solid #ddd;
  color: #eee;
}

#loader-wrapper .text {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  margin: 0;
}
#loader-wrapper .offscreen-text {
  width: 100%;
  /* top: 50%; */
  transform: translateY(-50%);
  display: block;
  position: absolute;
  margin: 0;
}

#loader-wrapper .offscreen-text {
  text-align: center;
  top: -9999px;
}

#loader-wrapper .text span {
  position: absolute;
}

   /* 定义渐隐效果 */
   .fade-out {
    opacity: 1;
    transition: opacity 1s ease-out; /* 渐隐效果持续 1 秒 */
  }

  .fade-out.hidden {
    opacity: 0;
  }

  /* 当元素 opacity 为 0 且完全隐藏后，可以通过 display:none 删除它 */
  .remove {
    display: none;
  }
  .show {
    display: block;
  }

